{% extends "_base.html" %}
{% block script %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//mozilla.github.io/pdf.js/web/viewer.css">
    <script type="text/javascript" charset="utf8" src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script type="text/javascript" charset="utf8" src="//mozilla.github.io/pdf.js/web/viewer.js"></script>
    <script type="text/javascript">
        var currPage = 1; //Pages are 1-based not 0-based
        var numPages = 0;
        var thePDF = null;

        //This is where you start
        PDFJS.getDocument('{{ data[2] }}').then(function(pdf) {

            //Set PDFJS global object (so we can easily access in our page functions
            thePDF = pdf;

            //How many pages it has
            numPages = pdf.numPages;

            //Start with first page
            pdf.getPage( 1 ).then( handlePages );
        });



        function handlePages(page)
        {
            //This gives us the page's dimensions at full scale
            var viewport = page.getViewport( 1 );

            //We'll create a canvas for each page to draw it on
            var canvas = document.createElement( "canvas" );
            canvas.style.display = "block";
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            //Draw it on the canvas
            page.render({canvasContext: context, viewport: viewport});

            //Add it to the web page
            document.body.appendChild( canvas );

            //Move to next page
            currPage++;
            if ( thePDF !== null && currPage <= numPages )
            {
                thePDF.getPage( currPage ).then( handlePages );
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div style="margin: 1px 1px 4px 1px">
        <a class="btn btn-primary" href="{{ data[2] }}"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
    </div>
{% endblock %}