{% extends "_base.html" %}
{% block content %}


<div class="container">
    <table id="flair_top" class="table table-striped table-hover table-sm">
        <thead style="text-align:center;">
        <tr>
            <th>Name</th>
            <th>Roll No.</th>
            <th>Title</th>
            <th>Abstract</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {% for each in data %}
            <tr>
                <td>{{ each['Name'] }}</td>
                <td>{{ each['Roll No.'] }}</td>
                <td>{{ each['Title'] }}</td>
                <td>{{ each['Abstract'] }}</td>
                <td><a class="btn btn-success" href="{{ url_for('view_content',name = each['Name']) }}">View Paper</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}